[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apache-airflow = {version = "==2.1.4", extras = ["crypto", "ssh"]}
apache-airflow-providers-celery = "==2.0.0"
apache-airflow-providers-mongo = "==2.1.0"

[dev-packages]
pytest = "==7.0.1"
pytest-mock = "==3.7.0"

[requires]
python_version = "3.10"
